html,
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  margin: 0;
  padding: 0px;
  font-family: sans-serif;
  background: #E0EAFC;
  background: linear-gradient(to right, #CFDEF3, #E0EAFC);
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  display: block;
  height: 100%;
}