.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 38px;
  background: rgba(0, 0, 0, 0.7);
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.lightbox__figure {
  position: relative;
  background: white;
  margin: auto;
  height: 100%;
  overflow: auto;
  border-radius: 2px;
}

.lightbox__img {
  width: 100%;
  height: auto;
  background: #f2f2f2;
}

.lightbox__caption {
  padding: 16px;
  text-align: left;
}

.date {
  font-weight: 300;
  color: rgba(0, 0, 0, .54);
  font-size: 15px;
}

.lightbox__caption .title {
  color: #8B1E3F;
}

.lightbox__caption .owner {
  color: #508991;
}


.tags {
  font-family: monospace;
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (min-width: 550px) {
  .lightbox__figure {
    max-width: 600px;
  }
}